@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  font-family: "Spartan", sans-serif;
}

[contentEditable="false"]:empty:not(:focus):before {
  content: attr(data-text);
}

.bg-btnbg {
  box-shadow: 0px 3px 0px 0px #b2a499;
}

.bg-btnbg:active {
  transform: translateY(3px);
  box-shadow: none;
}

.bg-btndel,
.bg-btnreset {
  box-shadow: 0px 3px 0px 0px #414e71;
}

.bg-btndel:active,
.bg-btnreset:active {
  transform: translateY(3px);
  box-shadow: none;
}

.bg-btnequal {
  box-shadow: 0px 3px 0px 0px #8f2316;
}

.bg-btnequal:active {
  transform: translateY(3px);
  box-shadow: none;
}
